
/* colors  */
$white:#ffffff;
$light-gr:#f8f8f8;
$br-gr:#e1e1e1;
$black:#000000;
$primery:#e7877d;
$secondary:#282c34;
$text:#949494;
$green:#70b37c;
$purple:#7a70b3;

/* element height */
$nav-ht:82px;
