/* font face */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

/* font weight */
$thin:100;
$light:300;
$regular:normal;
$medium:500;
$bold:bold;
$fblack:900;


